[submodule "protected/extensions/bootstrap"]
	path = protected/extensions/bootstrap
	url = https://github.com/clevertech/YiiBooster.git
[submodule "framework"]
	path = framework
	url = https://github.com/TiraxNet/YiiFramework.git
[submodule "install/sample"]
	path = install/sample
	url = https://github.com/TiraxNet/PaperSample.git
