ExpiresActive On
ExpiresByType image/png "now plus 7 days"
ExpiresByType image/jpeg "now plus 7 days"
ExpiresByType image/gif "now plus 7 days"
ExpiresByType image/ico "now plus 7 days"
ExpiresByType image/x-icon "now plus 7 days"
ExpiresByType application/javascript "now plus 7 days"
ExpiresByType application/x-javascript "now plus 7 days"
ExpiresByType text/javascript "now plus 7 days"
ExpiresByType text/css "now plus 7 days"

RewriteEngine on

RewriteCond %{HTTP_HOST} ^(^.*)\.tiraxnet\.ir
RewriteRule  ^media(.*)  http://media.tiraxnet.ir/%1/$1    [NC,L]

RewriteCond %{HTTP_HOST} ^(^.*)\.ir
RewriteRule  ^media(.*)  http://media.tiraxnet.ir/%1/$1    [NC,L]


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php